.cp-rep-return {
  color: #0073dd;
  position: absolute;
  bottom: 7%;
  right: 50%;
}
.cp-rep-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #0073dd;
  color: white;
  text-align: center;
}
