<div class="container-fluid">
  <div class="jumbotron about-jumbotron">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
    <p>Opis problemu jaki rozwiązuje aplikacja:</p>
    <p class="about-text-format">
      Ludzie często dojeżdżają do pracy z innego miasta (np. z Tarnowa do Krakowa). Aby zminimalizować koszty (koledzy z
      pracy czy znajomi) łączą się w grupy i jadą jednym samochodem. I tak zmieniają się, w miarę możliwości żeby za
      każdym razem jechał ktoś inny. Jest to niezwykle ważne ponieważ rozliczanie przejazdów jest barterowe (dziś jadę
      ja, jutro ty itd.). Ale po jakimś czasie trudno nad tym zapanować (kto ile razy już jechał, coś komuś wypadnie i
      nie pojedzie, innym razem jest się na urlopie/delegacji i nie korzysta się z przejazdu grupowego). Jest też ze
      sprawiedliwym rozdzieleniem ilości przejazdów aby każdy w skali miesiąca / roku był równomiernie obciążony
      kosztami przejazdów.
    </p>
    <div class="text-align-left">
      <h5>Autorzy:</h5>
      <p class="about-autors-text-format">
        Piotr Pasterak - nr albumu: 213 920<br />
        Dawid Sikorski - nr albumu: <br />
        Marcin Szponder - nr albumu: 213 759<br />
        Jarosław Wojtyś - nr albumu: 213 894<br />
      </p>
    </div>
  </div>
</div>
<div class="cp-about-footer">
  ©2019 Carpooler
</div>
