<div class="container-fluid">
  <div class="jumbotron about-jumbotron">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
    <p>Description of the problem that the application solves:</p>
    <p class="about-text-format">
      People oftem commuting to work from other cities( for example from Tarnow to Krakow). In order to optimize the
      costs travelers(buddies from the job or friends) join in groups and travel by one car together. They are changing
      cars and roles from driver to passanger. It is important to change drivers and cars. The service is barter
      settlement. It is hard to manage with out appropiate tool. Carpooler application is designed to fullfill the need
      those people may have.
    </p>
    <div class="text-align-left">
      <h5>Authors:</h5>
      <p class="about-autors-text-format">
        Piotr Pasterak - albumu no: 213 920<br />
        Dawid Sikorski - albumu no: 194 654<br />
        Marcin Szponder - albumu no: 213 759<br />
        Jarosław Wojtyś - albumu no: 213 894<br />
      </p>
    </div>
  </div>
</div>
<div class="cp-about-footer">
  ©2019 Carpooler
</div>
