<button class="btn btn-secondary" type="button" aria-haspopup="true" aria-expanded="false">
  Set current possition as home
</button>
<button class="btn btn-secondary" type="button" aria-haspopup="true" aria-expanded="false">
  Set current possition as work
</button>
<button class="btn btn-secondary" type="button" (click)="onShowCurrentPosition()">
  Show current postion
</button>
<button class="btn btn-secondary" type="button" aria-haspopup="true" aria-expanded="false">
  Clear settings
</button>
<div id="map"></div>
