<div class="container-fluid">
  <div class="container">
    <table>
      <tr>
        <td>
          <button class="cp-pos-button cp-pos-text" type="button" aria-haspopup="true" aria-expanded="false">
            Set as home
          </button>
        </td>
        <td>
          <button class="cp-pos-button cp-pos-text" type="button" aria-haspopup="true" aria-expanded="false">
            Set as work
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button class="cp-pos-button cp-pos-text" type="button" (click)="onShowCurrentPosition()">
            Show current
          </button>
        </td>
        <td>
          <button
            class="cp-pos-button cp-pos-text"
            type="button"
            (click)="onClearSettings()"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Clear settings
          </button>
        </td>
      </tr>
    </table>
    <div class="cp-pos-map" id="map"></div>
  </div>
</div>
