<div class="container-fluid">
  <div class="jumbotron text-center info-jumbotron">
    <div class="container">
      <div class="d-flex justify-content-centre">
        <table class="info-table">
          <tr>
            <td>
              <button
                type="button"
                class="info-button"
                [routerLink]="['/positioning']"
                routerLinkActive="router-link-active"
              >
                <div><i class="info-icon fas fa-map fa-2x"></i></div>
                <div class="info-text">Map</div>
              </button>
              <button type="button" class="info-button">
                <div><i class="info-icon fas fa-chart-bar fa-2x"></i></div>
                <div class="info-text">Statistic</div>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="info-button">
                <div><i class="info-icon fas fa-clock fa-2x"></i></div>
                <div class="info-text">Schedule</div>
              </button>
              <button type="button" class="info-button" [routerLink]="['/calendar']">
                <div><i class="info-icon fas fa-calendar-alt fa-2x"></i></div>
                <div class="info-text">Calendar</div>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
