<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="container">
      <div class="d-flex justify-content-centre">
        <table class="info-table">
          <tr>
            <th>
              <button type="button" class="info-button" [routerLink]="['/map']" routerLinkActive="router-link-active">
                <div><i class="fas fa-map"></i></div>
                <div class="text">Map</div>
              </button>
              <button type="button" class="info-button">
                <div><i class="fas fa-chart-bar"></i></div>
                <div class="text">Statistic</div>
              </button>
            </th>
          </tr>
          <tr>
            <th>
              <button type="button" class="info-button">
                <div><i class="fas fa-clock"></i></div>
                <div class="text">Schedule</div>
              </button>
              <button type="button" class="info-button">
                <div><i class="fas fa-calendar-alt"></i></div>
                <div class="text">Calendar</div>
              </button>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
