<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-outline-light text-dark">
            Settings
          </button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-light text-dark" routerLink="/calendar">
            Calendar
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-outline-light text-dark">
            Report
          </button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-light text-dark" routerLink="/positioning">
            Positioning
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
