.info-button {
  width: 100px;
  height: 100px;
  margin-bottom: 2px;
  border: 2px solid white;
  border-radius: 4px;
  background-color: #0073dd;
  box-shadow: 3px 3px 3px #ccc;
}

.info-text {
  color: white;
  margin: 5px auto 0px auto;
  font-size: 14pt;
  text-align: center;
  font-family: Arial;
}

.info-table {
  width: 100%;
}

.info-icon {
  color: white;
  size: 30px;
}

.info-jumbotron {
  background-color: transparent;
}
