@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  background-color: $blue;
}

.navbar-name {
  padding: 0;
  margin-bottom: 0;
  color: white;
  text-align: center;
  font-style: italic;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $blue;
}
