<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="nav-item" ngbDropdown placement="bottom-left">
    <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">
      <i class="far fa-sign-out-alt"></i>
    </a>
    <div ngbDropdownMenu aria-labelledby="user-dropdown">
      <h6 class="dropdown-header">
        <span translate>Logged in as</span> <b>{{ username }}</b>
      </h6>
      <div class="dropdown-divider"></div>
      <button class="dropdown-item" (click)="logout()" translate>Logout</button>
    </div>
  </div>
  <h4 class="navbar-name text-center">CARPOOL</h4>
  <button
    class="navbar-toggler"
    type="button"
    aria-controls="navbar-menu"
    aria-label="Toggle navigation"
    (click)="toggleMenu()"
    [attr.aria-expanded]="!menuHidden"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">
        <i class="far fa-users"></i>
        <span translate>Next trip</span>
      </a>
      <a class="nav-item nav-link" routerLink="/info" routerLinkActive="active">
        <i class="far fa-info-circle"></i>
        <span translate>Planner</span>
      </a>
      <a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">
        <i class="far fa-question-circle"></i>
        <span translate>About</span>
      </a>
    </div>
    <div class="navbar-nav ml-auto">
      <div class="nav-item" ngbDropdown placement="bottom-left">
        <a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{ currentLanguage }}</a>
        <div ngbDropdownMenu aria-labelledby="language-dropdown">
          <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
            {{ language }}
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<footer>
  <div class="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="navbar-header navbar-text pull-left">
          <p>&copy 2019 Carpooler</p>
        </div>
      </div>
    </nav>
  </div>
</footer>
