@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
  background-color: $blue;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.navbar-name {
  padding: 0;
  margin-bottom: 0;
  color: white;
  text-align: center;
  font-style: italic;
}

.header-icon {
  color: white;
}
