<div class="cp-reg-container">
  <div class="cp-reg-box">
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto border-white">
        <div class="card-body">
          <h4 class="card-title text-center">CARPOOLER</h4>
          <h6 class="card-title text-center">Please register your account</h6>
          <i class="register-img"><img src="assets/img/corvette.jpg"/></i>
          <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
              Registration failed.
            </div>
            <div class="form-group">
              <label class="d-block">
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  autocomplete="email"
                  [placeholder]="'email' | translate"
                />
                <span hidden translate>email</span>
                <small
                  [hidden]="registerForm.controls.email.valid || registerForm.controls.email.untouched"
                  class="text-danger"
                  translate
                >
                  Email is required
                </small>
              </label>
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Password' | translate"
                  required
                />
                <span hidden translate>Password</span>
                <small
                  [hidden]="registerForm.controls.password.valid || registerForm.controls.password.untouched"
                  class="text-danger"
                  translate
                >
                  Password is required
                </small>
              </label>
            </div>
            <button class="btn btn-primary w-50" type="submit" [disabled]="registerForm.invalid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Register</span>
            </button>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
